<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pintuer.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/login.js"></script>


    <style type="text/css">
        [v-cloak]{
            display: none;
        }
        body{
            background-color: #f3f3f3;
        }
        footer{
            text-align: center;
            position: fixed;
        }
        .passcode {
            position: absolute;
            right: 0;
            top: 0;
            height: 32px;
            margin: 1px;
            border-left: solid 1px #ddd;
            text-align: center;
            line-height: 32px;
            border-radius: 0 4px 4px 0;
        }
    </style>
</head>
<body>
<!--<div class="banner x3" style="width: 500px;height: 250px;">-->
<!--<div class="carousel">-->
<!--<div class="item">-->
<!--<img src="/images/lunbo1.jpg" alt=""></div>-->
<!--<div class="item">-->
<!--<img src="/images/lunbo2.jpg" alt="">-->
<!--</div>-->
<!--<div class="item">-->
<!--<img src="/images/lunbo3.jpg" alt="">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div  class="" align="center" style="margin-top: 200px">
    <form action="{:url('register_check')}" method="post">
        <div class="panel padding" style="width: 450px;text-align: left;">
            <div class="text-center ">
                <br>
                <h2><strong>欢迎注册</strong></h2></div>
            <div class="" style="padding:30px;">
                <div class="form-group">
                    <div class="field field-icon-right">
                        <input  type="text" class="input" name="num" placeholder="学号" onblur="check(this.value)" />
                        <span class="icon icon-user"></span>
                        <span id="num"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field field-icon-right">
                        <input id="password" type="password" class="input pwd" name="password" placeholder="登录密码" onblur="checkpwd(this.value)" />
                        <span class="icon icon-key"></span>
                        <span id="pwd"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field field-icon-right">
                        <input id="repassword" type="password" class="input pwd" name="repassword" placeholder="确认密码" onblur="repwd(this.value)" />
                        <span class="icon icon-key"></span>
                        <span id="repwd"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <input type="text" class="input" name="captcha" placeholder="填写右侧的验证码" data-validate="required:验证码不能为空" />
                        <!--<img class="passcode" src="{:url('show_captcha')}"  alt="captcha" onclick="this.src=this.src"+'?' />-->
                        <img class="passcode" src="{:captcha_src()}"  alt="captcha" onclick="this.src=this.src"+'?' />
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <button class="button button-block bg-main text-big">立即注册</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field text-center">
                        <p class="text-muted text-center"> <a class="" href="#login.html"><small>忘记密码了？</small></a> | <a class="" href="{:url('index')}">已有账号，直接登录</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="height: 100px;"></div>
<footer style="bottom: 0;width: 100%;">
    &copy;计算机中心-obligation
</footer>
<script src="/js/vue-2.5.17.js"></script>


</body>
</html>