{include file="common/header" title="$title" /}
<div style="margin-top: 50px">
    <form role="form" action="{:url('add_check')}" method="post">
        <div class="form-group">
            <label for="zh">学号：</label>
            <input type="text" name="num" class="form-control" placeholder="学号">
        </div>
        <div class="form-group">
            <label for="zh">姓名：</label>
            <input type="text" name="name" class="form-control" placeholder="姓名">
        </div>
        <div class="form-group">
            <label for="zh">密码：</label>
            <input type="password" name="password" class="form-control" placeholder="密码">
        </div>
        <div class="form-group">
            <label for="zh">手机：</label>
            <input type="text" name="phone" class="form-control" placeholder="手机">
        </div>
        <div class="form-group">
            <label for="zh">年级：</label>
            <input type="text" name="grade" class="form-control" placeholder="年级">
        </div>
        <div class="form-group">
            <label for="zh">专业：</label>
            <input type="text" name="major" class="form-control" placeholder="专业">
        </div>
        <div class="form-group">
            <label for="zh">生源地：</label>
            <input type="text" name="origin" class="form-control" placeholder="生源地">
        </div>
        <div class="form-group">
            <label for="mm">性别：</label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="男" checked> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="女"> 女
            </label>
        </div>
        <div class="form-group">
            <label for="zh">生日：</label>
            <input type="date" name="birthday" class="form-control" placeholder="">
        </div>


        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>
</div>
{include file="common/footer" /}
