<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pintuer.css">
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
        footer{
            text-align: center;
            position: fixed;
        }
        .passcode {
          position: absolute;
          right: 0;
          top: 0;
          height: 32px;
          margin: 1px;
          border-left: solid 1px #ddd;
          text-align: center;
          line-height: 32px;
          border-radius: 0 4px 4px 0;
        }
    </style>
</head>
<body>
<div align="center" style="margin-top: 200px">
    <form action="{:url('login_check')}" method="post">
        <div class="panel padding" style="width: 450px;text-align: left;">
            <div class="text-center">
                <br>
                <h2><strong>欢迎使用</strong></h2></div>
            <div class="" style="padding:30px;">
                <div class="form-group">
                    <div class="field field-icon-right">
                        <input type="text" class="input" name="num" placeholder="学号" />
                        <span class="icon icon-user"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field field-icon-right">
                        <input type="password" class="input" name="password" placeholder="登录密码" />
                        <span class="icon icon-key"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <input type="text" class="input" name="captcha" placeholder="填写右侧的验证码" />
                        <img class="passcode" src="{:url('show_captcha')}"  alt="captcha" onclick="this.src=this.src"+'?' />
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <button class="button button-block bg-main text-big">立即登录</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field text-center">
                        <p class="text-muted text-center"> <a class="" href="#login.html"><small>忘记密码了？</small></a> | <a class="" href="#register.html">注册新账号</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="x2 x8-move" style="margin-top: 200px">-->
            <!--<form class="form-horizontal" role="form" action="{:url('login_check')}" method="post">-->
                <!--<div class="form-group">-->
                    <!--<label for="zh">学号</label>-->
                    <!--<input type="text" name="num" class="form-control" id="zh" placeholder="学号" />-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="mm">密码：</label>-->
                    <!--<input type="password" name="password" class="form-control" id="mm" placeholder="密码">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="mm">验证码：</label>-->
                    <!--<div class="form-inline">-->
                    <!--<input type="text" name="captcha" size="15" class="col-md-1 form-control"  placeholder="请输入验证码">-->
                    <!--<img src="{:url('show_captcha')}" width="120"  alt="captcha" onclick="this.src=this.src"+'?' />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary btn-block">登录</button>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="col-md-4"></div>-->
    <!--</div>-->
<!--</div>-->
<div style="height: 100px;"></div>
<footer style="bottom: 0;width: 100%;">
    &copy;计算机中心-obligation
</footer>
<script src="/js/vue-2.5.17.js"></script>


</body>
</html>