{include file="common/header" title="$title" /}
<div id="body">
<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_employee')}'">员工列表</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_time')}'">工时汇总</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_thing')}'">失物统计</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_message')}'">查看留言</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('admin_search_time')}'">工时查询（管理员）</button>

</div>
{include file="common/footer" /}
