{include file="common/header" title="$title" /}
<div id="body">
<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('employee')}'">员工信息管理</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search')}'">信息查询</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('sign')}'">打卡</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('mes')}'">留言</button>

<button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('thing')}'">登记遗失物品</button>


</div>


{include file="common/footer" /}
