{include file="common/emp_header" title="$title" /}
<div class="" id="body">

    <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('sign')}'">签到打卡</button>
    <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('time')}'">工时查询</button>
    <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('message')}'">留言</button>
    <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('thing')}'">登记遗失物品</button>
    <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('test')}'">测试</button>
</div>
{include file="common/footer" /}